@charset "UTF-8";

@font-face {
    font-family: 'ModernSans';
    src: url('fonte/modern_sans/ModernSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'KosugiMaru';
    src: url('fonte/KosugiMaru-Regular.ttf') format('truetype');
}

@media (max-width:800px){
    
    }
    