@charset "UTF-8";


@font-face {
    font-family: 'voxbox';
    src: url('fonte/voxboxgrad.ttf') format('truetype');
}

@font-face {
    font-family: 'ModernSans';
    src: url('fonte/modern_sans/ModernSans-Light.otf') format('opentype');
}

:root {
    --cor0:#032344;
    --cor2:#025797;
    --cor3:#0968AD;
    --cor4:#60ACB3;
    --cor5:#59A0D4;

    --voxbox:'voxbox','san-serif';
    --morden:'ModernSans';

    --background: rgba(0, 0, 0, 0.556);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--morden);
    
}

header{
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.309);
}
.containerHeader{
    display: flex;
}
.menu{
    width: 25%;

    background-color: #010A26;
    border-radius: 20px 0 0 20px;

    padding-bottom: 15px;
}
.logo{
    
    padding-left: 20px;
    padding-top: 10px;
}
.contentHeader{
    width: 80%;

    background-color:  #011640;
    border-radius: 0 20px 20px 0;
}

.navbarHeader{
    padding-top: 20%;
   
}
.NavlistHeader{
    list-style-type: none;
}
li{
    margin: 0 0 10% 10%;
    padding: 3% 0;
    width: 80%;
}
.LinkNavlistHeader{
    text-decoration: none;
    color: white;
    
    
   
}
li:hover{
    background-color: #1e3246;
    border-radius: 10px;
}
.form{
    width: 80%;

    margin: auto;
    padding: 10px;

    border-radius: 10px;
    background-image: linear-gradient(to right, #034AA6, #04B2D9,#05F2F2);

    text-align: center;
}
.InputForm{
    background-color: hsla(225, 95%, 8%, 0.802);
    color: white;
    border:1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
    
}
.inputFormEntrar{
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
}

lord-icon{
    width: 40px;
    height: 50px;
}

main{
    background-color: rgba(128, 128, 128, 0.309);
}

.ContentMain{
    display: flex;
    justify-content: space-evenly;



}

.ContentMain > section{
    width: 250px;
    height: 350px;

    border: 1px solid white;
    border-radius: 20px;

    margin: 3%;
}

.contact{
    background-image: url('imagens/');
}