@charset "UTF-8";

@font-face {
    font-family:'Bebas Neue' ;
    src: url('fonte/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rajdhani';
    src: url('fonte/Rajdhani-Medium.ttf') format('truetype');
}
:root {
    --cor0:#002D5C;
    --cor2:#025797;
    --cor3:#0968AD;
    --cor4:#248BDA;
    --cor5:#59A0D4;

    --fonte0:'Arial','Helvetica', 'sans-serif';
    --fonte2: 'Rajdhani', sans-serif;

}
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte0);
    margin: auto;
}

header{
    background-image: url('');
}